
<html>
	<head>
		<title>CIDR Whitelist Calculator</title>
	</head>
	<body>

		<form method="POST" action="/">
			<table border="0" cellpadding="3">
				<tr>
					<td>
						Network <% if @network_size %>(<%= @network_size %> IPs)<% end %>
					</td>
					<td>
						Blacklist <% if @blacklist_size %>(<%= @blacklist_size %> IPs)<% end %>
					</td>
					<td>
						Result <% if @result %>(<%= @result_size%> IPs)<% end %>
					</td>
				</tr>
				<tr valign="top">
					<td>
						<textarea name="network" rows="20" cols="30"><%= @network %></textarea>
						<div style="margin-top:10px;">
							<input type="submit" name="submit" value="Calc Result"/>	
						</div>
					</td>
					<td>
						<textarea name="blacklist" rows="20" cols="30"><%= @blacklist %></textarea>
					</td>
					<td>
						<div>
				  			
				  			<% if @result %> 
					  			<% for @item in @result %>
					    			<%= @item %></br>
					  			<% end %>
				  			<% end %>
						</div>
						
					</td>
				<tr>
			</table>

		</form>
	</body>
</html>